@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%; /* #f4f4f4 */
    --secondary-background: 0 0% 100%; /* #ffffff */
    --foreground: 209 61% 11%; /* #0b1d2e */
    --primary: 235 68% 58%; /* #4a56dc; */
    --primary-foreground: 0 0% 100%; /* #ffffff */
    --primary-light: 219 100% 44%; /* #004EE1 */
    --muted: 0 0% 59%; /* #969696 */
    --border: 220 7% 91%; /* #E7E8EA */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --secondary: 0 0% 40%; /* #666666 */
    --secondary-foreground: 0 0% 9%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 208 48% 10%;
    --secondary-background: 225 34% 14%; /* #ffffff */
    --foreground: 0 0% 100%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 235 68% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 84%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 3% 80%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mackinac;
  }
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-Bold.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-BoldItalicSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-BoldItalicSC.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-ExtraBoldSCItalic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-ExtraBoldSCItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-ExtraBold.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-BookSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-BookSC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-Italic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-ExtraBoldItalic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* =========== */
/* @font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-ExtraBoldSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-ExtraBoldSC.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-BoldSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-BoldSC.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-BookSCItalic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-BookSCItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-MediumSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-MediumSC.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-Medium.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-MediumItalic.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "P22 Mackinac";
  src: url("./assets/fonts/P22Mackinac-MediumItalicSC.woff2") format("woff2"),
    url("./assets/fonts/P22Mackinac-MediumItalicSC.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
